node_modules/
dist/
storybook-static/

# Vite / TS build artifacts
*.tsbuildinfo
.vite/

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
